/* Enlaces para llamar a las fuentes de la librería de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Formatear el estilo HTML */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Dar estilos al body */
body {
    background-color: #2D2F4F;
    text-align: center;
}

/* Dar estilos al encabezado h1 y h2(título de la segunda página) */
h1 {
    color: #F7BA17;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    margin: 30px;
    padding: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Dar estilos al eslogan de Pokélovers */
header p {
    padding-left: 14%;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 30px;
}

/* Dar estilos al contenedor de la imagen de la portada */
.imgContainer {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

/* Dar estilos a la imagen de la portada */
.imgContainer img {
    /* width: 366px;
    height: 375px; */
    width: 90%;
    height: 90%;
}

/* Dar estilos al boton START */
.imgContainer button {
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: white;
    height: 40px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    background-color: transparent;
    border: 2px solid #498FCD;
    border-radius: 5px;
}

/* Ocultar la segunda seccion, donde se encuentra la data*/
#content {
    display: none;
}

/* Dar estilos al contenedor del boton para regresar al home */
.returnButtonContainer {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

/* Dar estilos al boton para regresar al home */
#returnButton {
    background-color: transparent;
    border-color: #F7BA17;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Dar estilos a la imagen del boton home */
#returnButton img {
    width: 90%;
    height: 90%;
}

/* Dar estilo al nombre de los cálculos estáticos*/
h2 {
    font-size: 30px;
    font-weight: lighter;
}

/* Dar estilo al contenedor de los cálculos estáticos*/
#staticCalculation {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    column-gap: 70px;
    font-family: 'VT323', monospace;
    color: #FFFF;
}

/* Dar estilo al número de los cálculos estáticos*/
.calculation {
    font-size: 40px;
}

/*Dar estilo al contenedor de search y buttons*/
.searchButtons {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*Dar estilo a las clases hijas de searchButtons*/
.child {
    flex: 1;
    /* border: solid; */
    /* border-color: #FFF; */
}

/*Dar estilo al padre(contenedor) del search input*/
.searchContainer {
    position: relative;
}

/*Dar estilo al search input*/
#searchInput {
    background-color: transparent;
    background-image: url(./img/buscar.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 8px center;
    border: 2px solid #F7BA17;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    padding-left: 20px;
    font-family: 'VT323', monospace;
    font-size: 25px;
    position: absolute;
    left: 0px;
    color: #FFFF;
}

/*Dar estilo al contenedor de los botones*/
.buttonsContainer {
    position: relative;
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}

/*Dar estilo al botón principal*/
#buttonSort {
    background-color: transparent;
    border-color: #F7BA17;
    border-radius: 7px;
    width: 40px;
    height: 40px;
}

/*Dar estilo a la imagen del botón principal*/
.imgsort {
    width: 30px;
    height: 30px;
}

/*Dar estilo a la lista de botones secundarios*/
.buttonList {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #d0d0d0;
    border-radius: 5px;
    width: 80px;
    height: 90px;
}

/*Quitar estilos a la lista no ordenada*/
ul {
    list-style: none;
}

/*Dar estilo a los botones secundarios*/
#buttonUpward,
#buttonDownward,
#buttonUpNumber,
#buttonDownNumber {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a19d9d;
    font-size: 18px;
}

/*Crear clase ¨show¨ para que aparezcan los botones secundarios*/
.show {
    display: block;
}

/*Dar estilos al contenedor de los cálculos agregados*/
.addedCalculation {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 25px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #F7BA17;
    border-radius: 7px;
    margin-bottom: 30px;
}

/*Dar estilos a los resultados de los cálculos agregados*/
.results {
    display: flex;
    border-top: 2px solid;
    border-color: #F7BA17;
}

/*Dar estilos a los contenedores hijos del contenedor de cálculos agregados*/
.childCalculation {
    flex: 1;
}

/*Dar estilos a la frase ¨You're watching¨*/
#wordsWatching {
    padding: 3px;
}

/*Dar estilos al contenedor del calculo N° de Pokemones*/
#numberPokemons {
    border-right: 2px solid #F7BA17;
}


/* Dar estilos al contenedor de Pokemons */
#containerPokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;

}

/* Dar estilos a las tarjetas */
.pokemonCard {
    font-family: 'VT323', monospace;
    font-size: 25px;
    border-style: solid;
    border-color: #F7BA17;
    border-radius: 10px;
    border-width: 6px;
    width: 180px;
    height: 230px;
    padding: 10px;
}

/* Dar estilos a la descripción de las tarjetas */
p.name {
    text-align: left;
    margin-left: 10%;
    line-height: 25px;

}

/* Dar estilo por mediaqueries tamaño tablet - ipad air*/
@media (max-width: 768px) {
    /* POKELOVERS */
    h1 {
        font-size: 60px;
        margin-top: 10%;
    }

    /* SLOGAN POKELOVERS */
    header p {
        padding-left: 19%;
        font-size: 25px;

    }

    /* Contenedor de la imagen de portada */
    .imgContainer {
        width: 500px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        padding-top: 2%;
        /* border: 2px solid white; */
    }

    /* botón start */
    .imgContainer button {
        font-size: 50px;
        height: 100px;
        margin-top: 20%;
        border: 5px solid #498FCD;
        border-radius: 6px;
    }
}

/* Dar estilo por mediaqueries tamaño celular - samsung galaxy s8+ */
@media (max-width: 360px) {
    /* encabezado, pokelovers */
    h1 {
        font-size: 30px;
        margin-left: 13px;

    }

    /* eslogan de pokelovers */
    header p {
        padding-left: 27%;
        font-size: 20px;
    }

    /* contenedor de la img de portada */
    .imgContainer {
        width: 300px;
        height: 300px;
        margin-top: 25%;
        padding-top: 2%;
        /* border: 2px solid white; */
    }

    /* boton start */
    .imgContainer button {
        font-size: 40px;
        height: 90px;
        margin-top: 35%;
        border: 3px solid #498FCD;
        border-radius: 6px;
    }

    /* cálculos estáticos */
    #staticCalculation {
        margin: 20px;
        padding: 10px;
        column-gap: 15px;
    }

    /* títulos de los cálculos estáticos */
    h2 {
        font-size: 25px;
        font-weight: lighter;
    }

    /* contenedor del input search y sort */
    .searchButtons {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Dar estilos a las tarjetas */
    .pokemonCard {
        border-radius: 7px;
        border-width: 3px;
        width: 120px;
        height: 170px;
        padding: 10px;
    }

    /* Dar estilo a las imágenes de las tarjetas */
    .pokemonCard img {
        height: 70px;
        width: 70px;
    }

    /* Dar estilos a la descripción de las tarjetas */
    p.name {
        text-align: left;
        margin-left: 10%;
        line-height: 25px;
        font-size: 20px;

    }
}